body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #dfedfe;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#dashboard-container {
    width: 90%;
    max-width: 600px;
    align-items: center;
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#rooms-list {
    margin-top: 20px;
}

.room-card {
    background-color: #7365ee;
    color: #fff;
    padding: 15px;
    border-radius: 8px;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.room-card h4 {
    margin: 0;
}

.room-card button {
    background-color: #34d399;
    border: none;
    padding: 8px 12px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.room-card button:hover {
    background-color: #2fa47b;
}

#user-input {
    display: flex;
    padding: 15px;
    background-color: #fff;
    border-top: 1px solid #ddd;
}

#user-input input[type="text"] {
    flex-grow: 1;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 50px;
    font-size: 16px;
    box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.1);
    outline: none;
    transition: border-color 0.3s ease;
}

#user-input input[type="text"]:focus {
    border-color: #4a90e2;
}

#user-input button {
    padding: 15px 20px;
    background-color: #4a90e2;
    color: white;
    border: none;
    border-radius: 50px;
    margin-left: 15px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#user-input button:hover {
    background-color: #357abd;
}