<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mental Health App</title>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ENjdO4Dr2bkBIFxQp1AyR8KhRuiBlfXFxD8FWpXZlePJbWo5Er9CsKT7VZpHgtB+" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUa1+MOM3VXHj5A2aED5Ck35h6j9mqD4DBzUknMQeSYA3d2SwprENKkK9AT1" crossorigin="anonymous">
  </head>
  <body style="background-color: #dfedfe;">
    <div class="im">
      <header>
        <nav style="padding-top: 0.6%; padding-left: 1.6%;">
          <ul class="right-align">
            <li>
              <img style="width: 150px; height: auto;" src="static/css/bg_logo.png" alt="logo">
            </li>
            <li>
              <a class="anc" href="{{ url_for('index') }}">Home</a>
            </li> {% if logged_in %} <li> 
              <a class="anc" href="{{ url_for('chat_app.chat') }}">Chat Rooms</a>
            </li>
            <li>
              <a class="anc" href="{{ url_for('symptom.symptom') }}">Symptom Checker</a>
            </li>
            <li>
              <a class="anc" href="{{ url_for('voicebot.voice') }}">Voice Assistant</a>
            </li>
            <li>
              <!-- <a class="anc" href="{{ url_for('video_maker.video_maker') }}">Resources</a> -->
              <a class="anc" href="#resources">Resources</a>
            </li>
            <li>
              <a class="anc" href="#about">About Us</a>
            </li>
            <li>
              <a href="{{ url_for('ch_app.ch') }}" class="emergency-link" style="color: #ff4d4d; font-weight: bold;">Emergency Help</a>
            </li>
            <li class="right-align">
              <a href="{{ url_for('login_panel.logout') }}">Logout</a>
            </li> {% else %} <li>
              <a href="{{ url_for('ch_app.ch') }}" class="emergency-link" style="color: #ff4d4d; font-weight: bold;">Emergency Help</a>
            </li>
            <div class="right-align">
              <li class="right-align">
                <a href="{{ url_for('login_panel.login') }}">Login</a>
              </li>
              <li class="right-align">
                <a href="{{ url_for('login_panel.register') }}">Register</a>
              </li>
            </div> {% endif %}
          </ul>
        </nav>
      </header>
      <!-- Hero Section -->
      <section class="hero">
        <div class="hero-content">
          <h2>Your Mental Health Matters</h2>
          <p>Your Personal Space to Relax, Connect, and Find Support.</p>
          <a href="{{ url_for('voicebot.voice') }}" class="btn-cta">Talk with AI</a>
          <!-- <a href="" class="btn-cta">Chat with us</a> -->
        </div>
      </section>
    </div>
    <div class="benefits-section">
      <h1>We're here to help you feel better.</h1>
      <div class="benefits-container">
        <div class="benefit-item">
          <img style="height: auto;width:70px;align-items: center;" src="static/css/band-aid.png" alt="Band-aid Icon" class="benefit-icon">
          <h3 style="margin-top: 30px;font-size: 30px;">Stress less.</h3>
          <p style="font-size: 17px;">Get in-the-moment relief for stress and anxiety so you can get back to living.</p>
          <a href="https://www.healthline.com/health/stress/effects-on-body" class="learn-more">Learn More</a>
          <br>
        </div>
        <div class="benefit-item">
          <img style="height: auto;width:70px;" src="static/css/sleep.png" alt="Sleep Icon" class="benefit-icon">
          <h3 style="margin-top: 30px;font-size: 30px;">Sleep more.</h3>
          <p style="font-size: 17px;">Fall asleep (and stay asleep) naturally and peacefully.</p>
          <a href="https://www.healthline.com/health/sleep-deprivation/effects-on-body" class="learn-more">Learn More</a>
        </div>
        <div class="benefit-item">
          <img style="height: auto;width:100;" src="static/css/leaf.png" alt="Mindfulness Icon" class="benefit-icon">
          <h3 style="margin-top: 50px;font-size: 30px;">Live mindfully.</h3>
          <p style="font-size: 17px;">Navigate life’s ups and downs with resilience, confidence and guided support.</p>
          <a href="https://www.verywellmind.com/peace-of-mind-how-to-find-and-keep-it-7369842" class="learn-more">Learn More</a>
        </div>
      </div>
    </div>
    <div class="therapy-card">
      <section id="online-therapy-section">
        <div class="therapy-content px-0 px-lg-4 mt-md-5 mb-lg-4">
          <div class="therapy-row d-flex justify-content-center align-items-center">
            <div class="therapy-image-col col-12 col-lg-7">
              <div class="therapy-image-wrapper">
                <div class="therapy-image-padding">
                  <img style="padding-left:40px;height:auto;width:650px;" src="static/css/chat_room.jpg" alt="Online therapy from a licensed professional therapist">
                </div>
              </div>
            </div>
            <div class="therapy-info-col col-12 col-lg-5 p-5">
              <div class="therapy-details">
                <h6 class="therapy-heading text-uppercase">Stress Relief Chat Rooms</h6>
                <h3 class="therapy-title">Connect with anonymous</h3>
                <p>Looking to relieve stress or share your thoughts? You can chat with random individuals or groups in anonymous chat rooms. Create a room, start conversations, and find support from people who understand</p>
                <div class="therapy-button text-center text-lg-start mb-4">
                  <!-- <a class="anc">Chat Rooms</a> -->
                  <a href="{{ url_for('chat_app.chat') }}" class="btn-cta">Get started</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <!-- <div class="container py-5"> -->
    <!-- <div class="card shadow-lg border-0 rounded-4"> -->
    <div class="card-body">
      <section id="online-therapy-section" class="my-5">
        <div class="container px-0 px-lg-4">
          <div class="row justify-content-center align-items-center">
            <div class="col-12 col-lg-5 order-lg-1 mt-4 mt-lg-0">
              <div class="text-lg-start text-center">
                <h6 class="fw-semibold text-uppercase">AI Conversations</h6>
                <h3 class="fw-bold fs-2">Engage with an AI for personalized support</h3>
                <p>Need someone to listen anytime? Converse with an AI companion designed to understand and offer support in times of stress or need.</p>
                <a class="btn-cta" href="{{ url_for('voicebot.voice') }}">Get started</a>
              </div>
            </div>
            <div class="col-12 col-lg-7 order-lg-2">
              <div class="position-relative">
                <img style="padding-left:40px;height:auto;width:700px;" src="static/css/ai_chat.jpg" class="img-fluid rounded-4" alt="Online therapy from a licensed professional therapist">
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="card">
      <!-- Featured Resources Section -->
      <div id="resources" class="container">
        <!-- <div class="card"> -->
        <h2>Featured Resources</h2>
        <p>Check out our latest articles and videos on mental health.</p>
        <div class="grid-container">
          <div class="grid-item">
            <iframe src="https://www.youtube.com/embed/j0_0O-FmLtc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
          </div>
          <div class="grid-item">
            <iframe src="https://www.youtube.com/embed/rkZl2gsLUp4" title="How to manage your mental health | Leon Taylor | TEDxClapham" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
          </div>
          <div class="grid-item">
            <iframe src="https://www.youtube.com/embed/wOGqlVqyvCM" title="5 Tips to Improve your Mental Health" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
          </div>
          <div class="grid-item">
            <iframe src="https://www.youtube.com/embed/rWlX-qDzsyI" title="How to Be More Stable? - Sadhguru Spot 2018" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
          </div>
          <div class="grid-item">
            <iframe src="https://www.youtube.com/embed/tH_AbG1JMOE" title="7 Steps for a Joyful Life - Amma&#39;s Birthday Message - Sri Mata Amritanandamayi Devi" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
          </div>
          <div class="grid-item">
            <iframe src="https://www.youtube.com/embed/Ie2uiGBWti4" title="Keeping The Mind Stable During Chaos: Part 5: BK Shivani at Canberra (English)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
          </div>
          <div class="grid-item">
            <iframe src="https://www.youtube.com/embed/sm0i1Y4g_zA" title="How To Be Calm and Peaceful Within | Buddhism In English" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
          </div>
          <div class="grid-item">
            <iframe src="https://www.youtube.com/embed/HABbAHdfdXk" title="How Can I Find Peace of Mind?" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
          </div>
          <div class="grid-item">
            <iframe src="https://www.youtube.com/embed/BQVFVXmU-Ug" title="How Stop Over Thinking  | Buddhism In English" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
    </div>
    <div style="background-color:#e1edff; padding: 20px;">
      <center>
        <h1>Success Stories</h1>
        <p>Read how our platform has positively impacted the lives of our users.</p>
      </center>
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <img src="static/css/professional-therapist.jpg" class="img-fluid" alt="User Story 1">
            <h5 class="mt-2">Kaiser 's Journey</h5>
            <p>My Struggle with Depressione</p>
            <p class="text-muted">"While I have a great support system, I did not feel like they truly understood what it felt like to be me. I really wished I could talk to people unfiltered about how sad I was and how I did not see a light at the end of the tunnel."</p>
          </div>
        </div>
        <!-- Success Story 2 -->
        <div class="col-md-4">
          <div class="card">
            <img src="static/css/sarah_smith.jpg" class="img-fluid" alt="User Story 2">
            <h5 class="mt-2">Sarah Smith's Transformation</h5>
            <p>Sarah battled depression and found support in our community resources and mindfulness workshops, helping her to rebuild her mental well-being.</p>
            <BR>
            <p class="text-muted">"I’ve learned coping skills and mindfulness techniques that I’ll carry with me for life."</p>
          </div>
        </div>
        <!-- Success Story 3 -->
        <div class="col-md-4">
          <div class="card">
            <img src="static/css/image_1.png" class="img-fluid" alt="User Story 3">
            <h5 class="mt-2">Emily Brown's Support Journey</h5>
            <p>With the help of our supportive chat community, Emily was able to manage her stress and build resilience through tough times.</p>
            <p class="text-muted">"Connecting with others and accessing resources here made all the difference in my journey."</p>
          </div>
        </div>
      </div>
      <!-- About Us Section -->
      <div id="about" class="responsive-container-block bigContainer" style="background-color: #f8f9fa; padding: 20px;">
        <h2 style="margin-top: 5%;">About Us</h2>
        <div class="responsive-container-block Container bottomContainer">
          <img class="mainImg" style="width: 470px; height: auto;" src="static/css/vision.jpg">
          <div class="allText bottomText">
            <p class="text-blk headingText">Our Vision</p>
            <p class="text-blk description"> Our vision is to create a safe and supportive digital space where individuals can connect anonymously with others and licensed therapists, fostering open conversations and promoting mental wellness. We aim to break down barriers to mental health support, ensuring that everyone has access to the resources they need to navigate life’s challenges.</p>
          </div>
        </div>
      </div>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js" integrity="sha384-QiH9AAd0pHpL3NQz9zGZ3yLD2trL3F0uN9uDbCUVXjr58vPwjFt8dVZzB8BITmuZ" crossorigin="anonymous"></script>
      </script>
  </body>
</html>